.space {
    flex: 1 1 auto;
}

.mat-icon-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.custom-toolbar {
    background-color: #141e47;
    /* background-color: #6E8B00; */
    /* background-color: transparent; */
}

.mat-toolbar {
    color: #f0f0f0 !important;
}

.mat-icon-button {
    color: #f0f0f0 !important;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: box-shadow 0.3s ease-in-out;
}

.neumorphic-button {
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.neumorphic-button .neumorphic-button {
    color: white !important;
}

.custom-toolbar button:not(:last-child) {
    margin-right: 10px;
}

.logout-icon {
    color: #f0f0f0 !important;
    transition: transform 0.2s ease;
}

.logout-icon:hover {
    transform: scale(1.2);
}

body {
    color: white !important;
}

.mat-mdc-icon-button {
    color: white !important;
}

a{
    color: white;
    transition: transform 0.2s ease;

}

a:hover{
    transform: scale(1.2);
}
