<div class="row mt-4 mb-4">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
    <p class="f-40 fw-700 text-center">เติมสารตามปริมาณ</p>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <p class="f-28 fw-500 c-red text-center">*เลือกเติมได้สูงสุด 3 ชนิด</p>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 container mb-4">
    <div class="card">
      <div class="imgBx">
        <img src="assets\icon\fertilizer_2674327.png" class="img1" />
      </div>
      <div class="contentBx">
        <h2>เลือกปริมาณของปุ๋ย</h2>
        <div class="col">
          <button
            class="btn"
            (click)="FT(250)"
            [class.active]="Fer == 13"
            [disabled]="Mb != 0 && phUp != 0 && phD != 0"
            [ngClass]="{ 'btn-dis': Mb != 0 && phUp != 0 && phD != 0 }"
          >
            250 ml
          </button>
        </div>
        <div class="col">
          <button
            class="btn"
            (click)="FT(500)"
            [class.active]="Fer == 26"
            [disabled]="Mb != 0 && phUp != 0 && phD != 0"
            [ngClass]="{ 'btn-dis': Mb != 0 && phUp != 0 && phD != 0 }"
          >
            500 ml
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 container mb-4">
    <div class="card">
      <div class="imgBx">
        <img src="assets\icon\fertilizer_1670066.png" class="img2"/>
      </div>
      <div class="contentBx">
        <h2>เลือกปริมาณของสารอาหาร</h2>
        <div class="col">
          <button
            class="btn"
            (click)="MB(250)"
            [class.active]="Mb == 13"
            [disabled]="Fer != 0 && phUp != 0 && phD != 0"
            [ngClass]="{ 'btn-dis': Fer != 0 && phUp != 0 && phD != 0 }"
          >
            250 ml
          </button>
        </div>
        <div class="col">
          <button
            class="btn"
            (click)="MB(500)"
            [class.active]="Mb == 26"
            [disabled]="Fer != 0 && phUp != 0 && phD != 0"
            [ngClass]="{ 'btn-dis': Fer != 0 && phUp != 0 && phD != 0 }"
          >
            500 ml
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 container mb-4">
    <div class="card">
      <div class="imgBx">
        <img src="assets\icon\ph_9285528.png" class="img3"/>
      </div>
      <div class="contentBx">
        <h2>เลือกปริมาณของสารเพิ่มค่า pH</h2>
        <div class="col">
          <button
            class="btn"
            (click)="PhUp(250)"
            [class.active]="phUp == 13"
            [disabled]="Fer != 0 && Mb != 0 && phD != 0"
            [ngClass]="{ 'btn-dis': Fer != 0 && Mb != 0 && phD != 0 }"
          >
            250 ml
          </button>
        </div>
        <div class="col">
          <button
            class="btn"
            (click)="PhUp(500)"
            [class.active]="phUp == 26"
            [disabled]="Fer != 0 && Mb != 0 && phD != 0"
            [ngClass]="{ 'btn-dis': Fer != 0 && Mb != 0 && phD != 0 }"
          >
            500 ml
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 container mb-4">
    <div class="card">
      <div class="imgBx">
        <img src="assets\icon\ph-meter_6355268.png" class="img4"/>
      </div>
      <div class="contentBx">
        <h2>เลือกปริมาณของสารลดค่า pH</h2>
        <div class="col">
          <button
            class="btn"
            (click)="PhD(250)"
            [class.active]="phD == 13"
            [disabled]="Fer != 0 && Mb != 0 && phUp != 0"
            [ngClass]="{ 'btn-dis': Fer != 0 && Mb != 0 && phUp != 0 }"
          >
            250 ml
          </button>
        </div>
        <div class="col">
          <button
            class="btn"
            (click)="PhD(500)"
            [class.active]="phD == 26"
            [disabled]="Fer != 0 && Mb != 0 && phUp != 0"
            [ngClass]="{ 'btn-dis': Fer != 0 && Mb != 0 && phUp != 0 }"
          >
            500 ml
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col justify-content-end d-flex">
    <button class="btn-confirm reset" (click)="reset()">reset</button>
  </div>
  <div class="col justify-content-start d-flex">
    <button class="btn-confirm submit" (click)="submit()">submit</button>
  </div>
</div>
