<div
  class="sidebar"
  [ngClass]="{ showSidebar: isSidebarVisible, hideSidebar: !isSidebarVisible }"
>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <span class="menu-icon material-icons">home</span>
        <span class="menu-text">Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/relay" routerLinkActive="active">
        <span class="menu-icon material-icons">toggle_on</span>
        <span class="menu-text">ใช้งานอุปกรณ์</span>
      </a>
    </li>
    <li>
      <a routerLink="/sprinker" routerLinkActive="active">
        <span class="menu-icon material-icons">shower</span>
        <span class="menu-text">ใช้งานสปริงเกอร์</span>
      </a>
    </li>
    <li>
      <a routerLink="/quantity" routerLinkActive="active">
        <span class="menu-icon material-icons">science</span>
        <span class="menu-text">เติมสารตามปริมาณ</span>
      </a>
    </li>
    <li>
      <a routerLink="/set-time" routerLinkActive="active">
        <span class="menu-icon material-icons">timer</span>
        <span class="menu-text">ตั้งค่าเวลาอุปกรณ์</span>
      </a>
    </li>
  </ul>
</div>
