<div class="row">
  <div
    class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center mb-4"
  >
    <button class="button style-2" (click)="openRelay()">ใช้งานอุปกรณ์</button>
  </div>
  <div
    class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center mb-4"
  >
    <button class="button style-2" (click)="openSprinker()">
      ใช้งานสปริงเกอร์
    </button>
  </div>
  <div
    class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center mb-4"
  >
    <button class="button style-2" (click)="openQuantity()">
      เติมสารตามปริมาณ
    </button>
  </div>
  <div
    class="col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center mb-4"
  >
    <button class="button style-2" (click)="openSetTime()">
      ตั้งค่าเวลาอุปกรณ์
    </button>
  </div>
</div>
<div class="row justify-content-center mt-4">
  <span class="cardContainer mb-4">
    <div class="card">
      <p class="city">Temperature</p>
      <svg
        class="weather"
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        width="50px"
        height="50px"
        viewBox="0 0 100 100"
        xml:space="preserve"
      >
        <image
          id="image0"
          width="100"
          height="100"
          x="0"
          y="0"
          href="assets\icon\hot_1684426.png"
        ></image>
      </svg>
      <p class="temp">{{ temperatureValue }}°</p>
      <div class="minmaxContainer">
        <div class="min">
          <p class="minHeading">Min</p>
          <p class="minTemp">15°</p>
        </div>
        <div class="max">
          <p class="maxHeading">Max</p>
          <p class="maxTemp">30°</p>
        </div>
      </div>
    </div>
  </span>

  <span class="cardContainer mb-4">
    <div class="card">
      <p class="city">Humidity</p>
      <svg
        class="weather"
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        width="50px"
        height="50px"
        viewBox="0 0 100 100"
        xml:space="preserve"
      >
        <image
          id="image0"
          width="100"
          height="100"
          x="0"
          y="0"
          href="assets\icon\humidity_4181405.png"
        ></image>
      </svg>
      <p class="temp">{{ humidityValue }}%</p>
      <div class="minmaxContainer">
        <div class="min">
          <p class="minHeading">Min</p>
          <p class="minTemp">40%</p>
        </div>
        <div class="max">
          <p class="maxHeading">Max</p>
          <p class="maxTemp">80%</p>
        </div>
      </div>
    </div>
  </span>

  <span class="cardContainer mb-4">
    <div class="card">
      <p class="city">pH</p>
      <svg
        class="weather"
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        width="50px"
        height="50px"
        viewBox="0 0 100 100"
        xml:space="preserve"
      >
        <image
          id="image0"
          width="100"
          height="100"
          x="0"
          y="0"
          href="assets\icon\drop_3335624.png"
        ></image>
      </svg>
      <p class="temp">{{ pHValue }}</p>
      <div class="minmaxContainer">
        <div class="min">
          <p class="minHeading">Min</p>
          <p class="minTemp">3</p>
        </div>
        <div class="max">
          <p class="maxHeading">Max</p>
          <p class="maxTemp">8</p>
        </div>
      </div>
    </div>
  </span>
</div>

<div class="row mb-4 justify-content-center">
  <div
    class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center"
  >
    <div class="space-card">
      <div class="card3">
        <div class="slide slide1">
          <div class="content">
            <div class="icon">
              <img src="assets\icon\3.png" style="width: 100%" />
            </div>
          </div>
        </div>
        <div class="slide slide2">
          <div class="content">
            <h3>ระดับน้ำในถัง</h3>
            <h1
              [class.c-red]="waterStateHigh == false && waterStateLow == false"
              [class.c-orange]="
                waterStateHigh == false && waterStateLow == true
              "
              [class.c-green]="waterStateHigh == true && waterStateLow == true"
            >
              {{
                waterStateHigh == true && waterStateLow == true
                  ? "มากกว่า 80 %"
                  : waterStateHigh == false && waterStateLow == true
                  ? "ต่ำกว่า 80 %"
                  : waterStateHigh == false && waterStateLow == false
                  ? "ต่ำกว่า 10%"
                  : " "
              }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 justify-content-center d-flex">
    <p class="title-web l-h3">
      Scan Qr Code เข้ากลุ่ม Line เพื่อรับการแจ้งเตือน
    </p>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12 justify-content-center d-flex">
    <img src="assets\image\join_line.jpg" style="width: 250px; height: 250px;" />
  </div>
</div>
