<div class="row mb-input">
    <div class="col mb-5">
      <label class="text-title">Create Account</label>
    </div>
  </div>

  <ng-container>
    <form class="form-floating mb-5">
      <input
        type="email"
        class="form-control"
        id=""
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
      />
      <label for="">Username</label>
    </form>
    <form class="form-floating mb-5">
      <input
        type="email"
        class="form-control"
        id=""
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
      />
      <label for="">Email</label>
    </form>
    <form class="form-floating mb-5">
      <input
        type="password"
        class="form-control"
        id=""
        [(ngModel)]="password"
        placeholder="Password"
        name="password"
      />
      <label for="">Password</label>
    </form>
    <form class="form-floating mb-5">
      <input
        type="password"
        class="form-control"
        id=""
        [(ngModel)]="ConfirmPassword"
        placeholder="ConfirmPassword"
        name="ConfirmPassword"
      />
      <label for="">Confirm Password</label>
    </form>

    <div class="row d-flex justify-content-center mb-4 m-0 p-0">
      <div class="col-xl-12 col-lg-10 col-md-12 col-12 m-0 p-0">
        <button (click)="register()" class="btn w-100 btn-login c-wh fw-500">
          Create Account
        </button>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xl-12 col-lg-10 col-md-12 col-12 mt-4">
        <span>Already have an account?</span> &nbsp;
        <a href="login" class="c-g fw-500">Login</a>
      </div>
    </div>
  </ng-container>
