/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Poppins;
    src: url(assets\fonts\Poppins-Medium.ttf);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
    margin: 0;
}

.container-fluid {
    height: 100% !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ebc443 !important;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dfb839 !important;
}



.bg-color {
    background-color: #A1BE32;
}

.logo {
    vertical-align: top;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.bg-blen {
    top: 0;
    position: absolute;
    width: 60%;
    height: 100%;
    z-index: 0;
}

.bg-farm {
    position: absolute;
    bottom: 10%;
    right: 60%;
}

.bg-first {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 10;

}

.circle-photo {
    height: 65px;
    width: 65px;
    border-radius: 50% !important;}

.z {
    z-index: 1;

}

.icon-nav {
    top: 0;
    position: absolute;
}

.title-login {
    position: absolute;
    TOP: 16%;
    left: 11%;
    font-size: 50px;
    font-family: "syne";
    font-weight: 900;
}

.title-login2 {
    position: absolute;
    TOP: 21%;
    left: 15%;
    font-size: 50px;
    font-family: "syne";
    font-weight: 900;
}

.title {
    font-size: 50px;
    color: white;
}

.container {
    height: 100% !important;
}

.bg-wh {
    background-color: white;
    border-radius: 32px 0px 0px 32px;
}

@media (max-width: 992px) {

    /* Adjust top property for screen sizes less than lg (992px) */
    .bg-main2 {
        width: 100% !important;
        height: 100% !important;
    }
}

.icon-abs-2 {
    position: absolute;
    z-index: 2;
    width: 150px;
    left: 20px;
    top: 10px;
}

.abs-3 {
    width: 50%;
    height: 80%;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 10%;
    margin-left: 100px;
}

.card {
    border-radius: 32px;
}

.text-title {
    font-size: 40px;
    font-weight: 700;
}

.btn-login {
    background-color: #A1BE2E;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-login:hover {
    background-color: #7c9713;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.c-wh {
    color: white;
}

.c-b {
    color: black;
}

.c-grey {
    color: #808080;
}

.c-g {
    color: #00B112;
}

.c-red {
    color: #b90303;
}

.c-green{
    color: #7c9713;
}

.f-40{
    font-size: 40px;
}

.f-28{
    font-size: 28px;
}

.fw-700{
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;

}

.card{
    background-color: #FFFFFF99;
}

.box{
    border-radius: 300px;
    background-color: white;
    box-shadow: 0px 4px 20px 0px #00000040;
    height: 40px;
}

.button-w{
    border-radius: 300px;
    background-color: #00B2FF;
    color: white;
    box-shadow: 0px 4px 20px 0px #00000040;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-w:hover{
    color: white; 
    background-color: #0d66da;
}

.button-wa:hover{
    color: white; 
    background-color: #c00c4b;
}

.button-wa{
    border-radius: 300px;
    background-color: #F8538C;
    color: white;
    box-shadow: 0px 4px 20px 0px #00000040;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
}

.pad-20{
    padding-left: 40px;
    padding-right: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked+.slider {
    background-color: #4caf50;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px #4caf50;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .alert-btn-cancel {
    color: #FFF !important;
    font-weight: 600;
    border: 1px #F24E1E solid !important;
    width: 100px !important;
    border-radius: 50px !important;
    background-color: #F24E1E !important;
  }

  .alert-btn-confirm {
    color: #FFF !important;
    font-weight: 600;
    border: 1px #00C514 solid !important;
    width: 100px !important;
    border-radius: 50px !important;
    background-color: #00C514 !important;
  }


.reset {
    background-color: #d01212;
    color: white;

}

.reset:hover {
    background-color: #950505;
    color: white;
}

.reset:active {
    background-color: #950505;
    color: white;
}

.submit {
    background-color: #1eee33;
    color: white;
}

.submit:hover {
    background-color: #19c82a;
    color: white;
}

.submit:active {
    background-color: #19c82a;
    color: white;
}

.active {
    background-color: #eecf06;
}
  