<div class="row mt-4 mb-4">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
    <p class="f-40 fw-700 text-center">Sprinker</p>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <p class="f-28 fw-500 c-red text-center">*หากเลือกพ่นตามปริมาตรให้กดปุ่ม Submit เมื่อทำการเลือกเรียบร้อย</p>
  </div>
</div>

<div class="row mt-5">
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 container mb-4">
    <div class="card">
      <div class="imgBx">
        <img src="assets\icon\ph-meter_6355268.png" class="img3" />
      </div>
      <div class="contentBx">
        <h2 class="mb-2">Sprinker Water</h2>
        <div class="col">
          <button
            class="btn"
            (click)="openWater(true)"
            [class.active]="openWT == true"
          >
            เปิดใช้งาน
          </button>
        </div>
        <div class="col">
          <button
            class="btn"
            (click)="openWater(false)"
            [class.active]="openWT == false"
          >
            ปิดใช้งาน
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 container mb-4">
    <div class="card">
      <div class="imgBx">
        <img src="assets\icon\ph-meter_6355268.png" class="img3" />
      </div>
      <div class="contentBx">
        <h2 class="mb-2">Sprinker fertilizer</h2>
        <div class="col">
          <button
            class="btn"
            (click)="openFer(true)"
            [class.active]="openFT == true"
          >
            เปิดใช้งาน
          </button>
        </div>
        <div class="col">
          <button
            class="btn"
            (click)="openFer(false)"
            [class.active]="openFT == false"
          >
            ปิดใช้งาน
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 container mb-4">
    <div class="card">
      <div class="imgBx">
        <img src="assets\icon\fertilizer_2674327.png" class="img1" />
      </div>
      <div class="contentBx">
        <h2>Sprinker Water</h2>
        <div class="col">
          <button class="btn" (click)="SW(250)" [class.active]="sw == 13">
            250 ml
          </button>
        </div>
        <div class="col">
          <button class="btn" (click)="SW(500)" [class.active]="sw == 26">
            500 ml
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 container mb-4">
    <div class="card">
      <div class="imgBx">
        <img src="assets\icon\ph-meter_6355268.png" class="img4" />
      </div>
      <div class="contentBx">
        <h2>Sprinker fertilizer</h2>
        <div class="col">
          <button class="btn" (click)="SF(250)" [class.active]="sf == 13">
            250 ml
          </button>
        </div>
        <div class="col">
          <button class="btn" (click)="SF(500)" [class.active]="sf == 26">
            500 ml
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6"></div>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 justify-content-center d-flex">
    <button class="btn-confirm reset" (click)="reset()">reset</button>
    <button class="btn-confirm submit" (click)="submit()">submit</button>
  </div>
</div>


<div class="row mt-4 mb-4">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
    <p class="f-40 fw-700 text-center">ตั้งเวลาเปิด Sprinker</p>
  </div>
</div>



<div class="row">
  <div class="col">
    <span>sprinker_FT:</span>&nbsp;
    <span>{{ sprinker_FT }}</span>
    <span>{{ time_FT }}</span>
    <input type="time" [(ngModel)]="time_FT" />
    <button (click)="sendTime()">click</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>sprinker_WT:</span>&nbsp;
    <span>{{ sprinker_WT }}</span>
    <input type="time" [(ngModel)]="time_WT" />
    <button (click)="sendTime()">click</button>
  </div>
</div>
